<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="ressources/stylesheet" href="style.css">
    <script src="ressources/script.js"></script>
</head>
<body>
    
</body>
</html>
